.apsat{
	width: 100vw;
	padding-top: 8vh;
}

paper-material{
	width: 100vw;
	display: table;
}

h1 {
	color: #D32F2F;
	text-align: center;
	font-size: 2.5em;
}

paper-material img{
	float:left;
	padding: 1vh 1vw;
	display: table-cell;
	width: 40% !important;
	height: auto !important;

}

paper-material p {
	top: 50%;
	/*padding-left: 5vw;*/
	font-size: 1.2em;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.publications{
	width: 100vw;
}

.publications paper-material{
	width: 100vw;
}

#articles{
	display: table;
	width: 100vw;
}

#articles paper-card{
	display: table-cell;
	padding: 0;
	max-width: 20vw;
	height: 10vh;
	text-align: center;
}
paper-card .card-content{
	vertical-align: middle;
}
paper-card p{
	text-align: center;
}

paper-card a{
	color: #D32F2F;
}