.map{
	height: 500px;
	width: 90vw;
	text-align: center;
	margin-left: 5vw;
	padding-top: 15vw;
}

.centers{
	display: table;
	margin-left: 5vw;
}

paper-card{
	display: table-cell;
	margin: 2vw;
	height: 10vh;
	width: 25vw;
	--paper-card-header-color: #000000;

}

paper-card .card-content{
	padding: .5vw;
}